<!DOCTYPE html>
<html class="h-full bg-gray-200">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% block head %}
    <link rel="stylesheet" href="/assets/css/app.css">
    {% endblock %}
    <title>Ping CRM Masonite/Vue.js</title>
    <script src="/assets/js/app.js" defer></script>
  </head>
  <body class="font-sans antialiased leading-none text-gray-700">
    {{ inertia(page) }}
  </body>
</html>
